
data/Arknights_plot/act9mini_Pinus Sylvestris.xlsx
data/Arknights_plot/act9d0_Darknights Memoir.xlsx
data/Arknights_plot/act8mini_Vigilo.xlsx
data/Arknights_plot/act7mini_Preluding Lights.xlsx
data/Arknights_plot/act7d5_Stories of Afternoon.xlsx
data/Arknights_plot/act6d5_Ancient Forge.xlsx
data/Arknights_plot/act5d0_Code of Brawl.xlsx
data/Arknights_plot/act4d0_Operational Intelligence.xlsx
data/Arknights_plot/act3d0_Heart of Surging Flame.xlsx
data/Arknights_plot/act26side_Hortus de Escapismo.xlsx
data/Arknights_plot/act25side_Lone Trail.xlsx
data/Arknights_plot/act24side_A Flurry to the Flame.xlsx
data/Arknights_plot/act23side_Where Vernal Winds Will Never Blow.xlsx
data/Arknights_plot/act22side_What the Firelight Casts.xlsx
data/Arknights_plot/act21side_IL Siracusano.xlsx
data/Arknights_plot/act20side_Ideal City_ Endless Carnival.xlsx
data/Arknights_plot/act1_Grani and the Knights' Treasure.xlsx
data/Arknights_plot/act19side_Dorothy's Vision.xlsx
data/Arknights_plot/act18side_Lingering Echoes.xlsx
data/Arknights_plot/act18d3_Under Tides.xlsx
data/Arknights_plot/act18d0_A Walk in the Dust.xlsx
data/Arknights_plot/act17side_Stultifera Navis.xlsx
data/Arknights_plot/act17d0_Operation Originium Dust.xlsx
data/Arknights_plot/act16side_Guide Ahead.xlsx
data/Arknights_plot/act16d5_Who Is Real.xlsx
data/Arknights_plot/act15side_Invitation to Wine.xlsx
data/Arknights_plot/act15d5_Beyond Here.xlsx
data/Arknights_plot/act15d0_Mansfield Break.xlsx
data/Arknights_plot/act14side_Break the Ice.xlsx
data/Arknights_plot/act14mini_A Death in Chunfen.xlsx
data/Arknights_plot/act13side_Near Light.xlsx
data/Arknights_plot/act13mini_It's Been A While.xlsx
data/Arknights_plot/act13d5_Maria Nearl.xlsx
data/Arknights_plot/act13d0_Rewinding Breeze.xlsx
data/Arknights_plot/act12side_Dossoles Holiday.xlsx
data/Arknights_plot/act12mini_An Obscure Wanderer.xlsx
data/Arknights_plot/act12d0_The Great Chief Returns.xlsx
data/Arknights_plot/act11mini_To Be Continued.xlsx
data/Arknights_plot/act11d0_Twilight of Wolumonde.xlsx
data/Arknights_plot/act10mini_A Light Spark in Darkness.xlsx
data/Arknights_plot/act10d5_Children of Ursus.xlsx
data/Arknights_plot/main_0_Evil Time Part 1.xlsx
data/Arknights_plot/main_10_Shatterpoint.xlsx
data/Arknights_plot/main_11_Return To Mist.xlsx
data/Arknights_plot/main_12_All Quiet Under the Thunder.xlsx
data/Arknights_plot/main_1_Evil Time Part 2.xlsx
data/Arknights_plot/main_2_Separated Hearts.xlsx
data/Arknights_plot/main_3_Stinging Shock.xlsx
data/Arknights_plot/main_4_Burning Run.xlsx
data/Arknights_plot/main_5_Necessary Solutions.xlsx
data/Arknights_plot/main_6_Partial Necrosis.xlsx
data/Arknights_plot/main_7_The Birth of Tragedy.xlsx
data/Arknights_plot/main_8_Roaring Flare.xlsx
data/Arknights_plot/main_9_Stormwatch.xlsx
week 4/char_emb/arknights_Amiya_w2v_v1.model
week 4/char_emb/arknights_Bagpipe_w2v_v1.model
week 4/char_emb/arknights_Blake_w2v_v1.model
week 4/char_emb/arknights_Blaze_w2v_v1.model
week 4/char_emb/arknights_Ch'en_w2v_v1.model
week 4/char_emb/arknights_Closure_w2v_v1.model
week 4/char_emb/arknights_Dorothy_w2v_v1.model
week 4/char_emb/arknights_Ebenholz_w2v_v1.model
week 4/char_emb/arknights_Ferdinand_w2v_v1.model
week 4/char_emb/arknights_FrostNova_w2v_v1.model
week 4/char_emb/arknights_Gavial_w2v_v1.model
week 4/char_emb/arknights_Ho'olheyak_w2v_v1.model
week 4/char_emb/arknights_Hoederer_w2v_v1.model
week 4/char_emb/arknights_Horn_w2v_v1.model
week 4/char_emb/arknights_Ifrit_w2v_v1.model
week 4/char_emb/arknights_Ines_w2v_v1.model
week 4/char_emb/arknights_Jara_w2v_v1.model
week 4/char_emb/arknights_Justin Jr._w2v_v1.model
week 4/char_emb/arknights_Kal'tsit_w2v_v1.model
week 4/char_emb/arknights_Kristen_w2v_v1.model
week 4/char_emb/arknights_Kroos_w2v_v1.model
week 4/char_emb/arknights_Lee_w2v_v1.model
week 4/char_emb/arknights_Loken_w2v_v1.model
week 4/char_emb/arknights_Manfred_w2v_v1.model
week 4/char_emb/arknights_Mostima_w2v_v1.model
week 4/char_emb/arknights_Muelsyse_w2v_v1.model
week 4/char_emb/arknights_Noir Corne_w2v_v1.model
week 4/char_emb/arknights_Patriot_w2v_v1.model
week 4/char_emb/arknights_Rosmontis_w2v_v1.model
week 4/char_emb/arknights_Saria_w2v_v1.model
week 4/char_emb/arknights_Siege_w2v_v1.model
week 4/char_emb/arknights_Silence_w2v_v1.model
week 4/char_emb/arknights_Skadi_w2v_v1.model
week 4/char_emb/arknights_Talulah_w2v_v1.model
week 4/char_emb/arknights_Texas_w2v_v1.model
week 4/char_emb/arknights_Tin Man_w2v_v1.model
week 4/char_emb/arknights_W_w2v_v1.model
week 4/char_emb/arknights_Wei Yenwu_w2v_v1.model
week 4/char_emb/arknights_Yato_w2v_v1.model
